<h1>This is test battle with Dummy boss!</h1>

<div style="margin-top: 10px;">
	<button ng-click="reset()">Reset test battle!</button>
</div>

<table style="margin-top: 30px;">
	<tr>
		<th colspan="0" ng-bind="testPlayer.name + ' (' + testPlayer.className + ')'"></th>
	</tr>
	<tr>
		<td>HP</td>
		<td ng-bind="testPlayer.getHp()"></td>
	</tr>
	<tr>
		<td>Attack</td>
		<td ng-bind="testPlayer.getAttackPower()"></td>
	</tr>
	<tr>
		<td>Armor</td>
		<td ng-bind="testPlayer.getArmor()"></td>
	</tr>
</table>

<div style="margin-top: 10px;">
	<button ng-click="cast('attack')" ng-disabled="bossIsDead">Attack Dummy!</button>
</div>
<h2 ng-show="bossIsDead">Boss Is Dead! Reset battle..</h2>

<table style="margin-top: 30px;">
	<tr>
		<th colspan="0" ng-bind="bossDummy.name + ' (' + bossDummy.className + ')'"></th>
	</tr>
	<tr>
		<td>HP</td>
		<td ng-bind="bossDummy.getHp()"></td>
	</tr>
	<tr>
		<td>Attack</td>
		<td ng-bind="bossDummy.getAttackPower()"></td>
	</tr>
	<tr>
		<td>Armor</td>
		<td ng-bind="bossDummy.getArmor()"></td>
	</tr>
</table>